@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap);

body {
    font-family: "Roboto", sans-serif;
    background: #EFF1F3;
    min-height: 100vh;
    position: relative;
}

.section-50 {
    padding: 50px 0;
}
    
.logo{
    width: 140px;
    height:140px;
    margin-left:8% ;
    cursor: pointer;
    border-radius: 72px;

  }
  .navbar {
    width: 85%;
    margin:auto;
    padding:5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  
  }
  
  .navbar ul li {
    list-style: none;
    display: inline-block;
    margin:0 10px;
    position: relative;
  }
  
  .navbar ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
  
  }
  .navbar ul li ::after{
    content: '';
    height:3px;
    width: 0;
    background: #009688;
    position: absolute;
    left:0;
    bottom:-10px;
    transition: 0.5s;
  
  }
  .navbar ul li :hover::after{
    width:100%;
  
  }

.m-b-50 {
    margin-bottom: 50px;
}

.dark-link {
    color: #333;
}

.heading-line {
    position: relative;
    padding-bottom: 5px;
}

.heading-line:after {
    content: "";
    height: 4px;
    width: 75px;
    background-color: #29B6F6;
    position: absolute;
    bottom: 0;
    left: 0;
}

.notification-ui_dd-content {
    margin-bottom: 30px;
    
}

.notification-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 20px;
    margin-bottom: 7px;
    background: #fff;
    -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    
}
@media screen and (max-width: 600px) {
    .notification-list {
        flex-direction: column;
    }
}

.notification-list--unread {
    border-left: 2px solid #29B6F6;
    
}

.notification-list .notification-list_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
}

.notification-list .notification-list_content .notification-list_img img {
    height: 48px;
    width: 48px;
    border-radius: 50px;
    margin-right: 20px;
    
}
p{
    color: #c98858;
    
}
b{
    color: #091e96;
    
}
small{
    color: #000006;
}

.notification-list .notification-list_content .notification-list_detail p {
    margin-bottom: 5px;
    line-height: 1.2;
    
    
}

.notification-list .notification-list_feature-img img {
    height: 48px;
    width: 80px;
    border-radius: 5px;
    margin-left: 20px;
    
}